:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f9fafb;
    --foreground-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #172136;
    --foreground-color: #ffffff;
  }
}

body {
  font-size: 18px;
  padding: 0.5rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "IBM Plex Sans";
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 128px;
  border-radius: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Galdeano";
  font-weight: normal;
  letter-spacing: 0.11em;
  margin-block-start: 3.5rem;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

p {
  margin-block: 1.75rem;
}

a {
  color: var(--foreground-color);
}

table {
  font-family: "Galdeano";
}

td:first-child {
  text-transform: lowercase;
}

th, td {
  padding: 0.8rem;
  padding-inline-start: 0;
}
