body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  display: grid;
  grid-template: "header footer" "main main";
  gap: 0.5rem 0;
  place-self: center;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
}

header img {
  width: 128px;
  border-radius: 100%;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  place-self: start end;
}

footer img {
  width: 128px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Galdeano", sans-serif;
  font-weight: normal;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
}

h1, p {
  margin-block: 0.5rem;
}

a {
  color: inherit;
}

a:not(:hover, :focus, :active) {
  text-decoration: inherit;
}
